html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

.skin-blue .main-header .navbar{
	background-color: #495469;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
	background-color:#495469;
}

.skin-blue .main-header .logo {
	background-color: inherit;
}

.skin-blue .main-header .navbar .sidebar-toggle{
	background-color: #495469;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
	color: #fff;
	background: #3f485a;
	border-left-color: transparent;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background: #3f485a;
}

.skin-blue .main-header .logo:hover {
	background: #3f485a;
}

.bg-blue {
    color: #fff;
    background-color: #2196f3;
}

.bg-red {
    color: #fff;
    background-color: #d96557;
}

.bg-green {
    color: #fff;
    background-color: #2ecc71;
}

.content-wrapper{
	background-color: #F0F0F0;
}

/* Icons */

.icon {
	text-decoration: none;
}

	.icon:before {
		display: inline-block;
		font-family: FontAwesome;
		font-size: 1.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon > .label {
		display: none;
	}

#header-wrapper {
	position: relative;
	padding: 0em 0 0em 0;
	background-image: url("images/header.svg");
	background-image: url("images/overlay.png"), url("images/header.svg"), -moz-linear-gradient(75deg, #00CCFF 15%, #3399FF 55%);
	background-image: url("images/overlay.png"), url("images/header.svg"), -webkit-linear-gradient(75deg, #00CCFF 15%, #3399FF 55%);
	background-image: url("images/overlay.png"), url("images/header.svg"), -ms-linear-gradient(75deg, #00CCFF 15%, #3399FF 55%);
	background-image: url("images/overlay.png"), url("images/header.svg"), linear-gradient(75deg, #00CCFF 15%, #3399FF 55%);
	background-color: #f08c89;
	background-size: 100% 620%;
	background-size: 128px 128px, 100% 620%, auto;
	background-repeat: repeat, no-repeat, no-repeat;
}

.homepage #header-wrapper {
	padding: 3em 0 3em 0;
	background-size: 128px 128px, 100% 100%, auto;
}


#promo-wrapper {
	position: relative;
	background-image: url("images/overlay.png"), url("../../images/promo.jpg");
	background-size: 192px 192px, cover;
	background-position: top left, center center;
	color: #fff;
	text-align: center;
	padding: 3em 0 3em 0;
}

#footer-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	position: relative;
	border-top: solid 1px #c2c7cc;
	background-image: url("images/overlay.png"), url("images/footer.svg");
	background-size: 128px 128px, 100% 100%;
	padding: 1em 0px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

/* Hero */

#hero {
	position: relative;
	color: #fff;
	text-align: center;
	z-index: 1;
}

	#hero h2 {
		color: #fff;
		font-size: 3em;
	}

	#hero strong {
		color: inherit;
	}

	#hero header > span {
		color: #fff;
	}

	#hero p {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	#hero .button {
		background: #fff;
		border-color: rgba(255, 255, 255, 0);
		color: #3295F8;
		font-size: 1.25em;
	}

		#hero .button:hover {
			border-color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.15);
			color: #fff;
		}

	#hero a {
		color: #fff;
		border-color: #fff;
		border-color: rgba(255, 255, 255, 0.5);
	}

		#hero a:hover {
			border-color: rgba(255, 255, 255, 0);
		}


/* Footer */

#footer {
	position: relative;
	z-index: 1;
}

/* Copyright */

#copyright {
	position: relative;
	z-index: 1;
	text-align: center;
	border-top: solid 1px #d2d7dc;
	color: #a2a7ac;
	padding-top: 1em;
	margin-top: 1em;
}

.task{
	font-size: 65%;
}

